.board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 572px;
}

.board-row {
  
}

.board-tile {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.board-row-even .board-tile {
  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.board-row-odd .board-tile {
  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.board-tile .piece {
  display: none;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

.board-tile.tile-1 .piece {
  display: block;
  background-color: #000;
}

.board-tile.tile-2 .piece {
  display: block;
  background-color: #fff;
}
